<% @LANGUAGE="VBSCRIPT" CODEPAGE="65001" %>
<% OPTION EXPLICIT %>

<%
	<!--ENTER PAGE TITLE BETWEEN QUOTES BELOW-->
	Dim strTitle
    strTitle = "About MGE Energy"
%>

<title><%=strTitle%> - MGE Energy, Inc. - Madison, Wisconsin</title>
<meta name="Description" content="This is where you write the content description." />

<!-- #INCLUDE virtual="includes/head.htm" -->

<!-- #INCLUDE virtual="includes/global-functions.htm" -->

<body>
<!-- #INCLUDE virtual="includes/loader.htm" -->

<!-- #INCLUDE virtual="includes/header.htm" -->

<!-- #INCLUDE virtual="includes/alerts-all.htm" -->

<section id="mainc" class="clearfix">
	<div class="wrapper">
    
    	<h2><%=strTitle%></h2>
        
        <p>MGE Energy, a public utility holding company, is dedicated to long-term value for its shareholders. We have increased dividend for 40 consecutive years and have paid dividends for more than 100 years. Our regulated utility Madison Gas and Electric has the highest credit rating in the nation for investor-owned combination utilities from Moody's and Standard & Poor's.</p>
        
        <h3>MGE Energy, Inc.</h3>
        
        <p>MGE Energy is an investor-owned public utility holding company headquartered in the state capital of Madison, Wis.</p>
        
        <p>MGE Energy is the parent company of the following:</p>
        
        <img src="/images/corp-profile.png" alt="MGE Energy Corporate Profile" title="MGE Energy Corporate Profile" class="rob-grid1 center" />
        
        <h4>About Madision Gas and Electric</h4>
        <div class="rob-grid1-2 left">
        <p><strong>MGE Electric Services</strong><br/>
        Generation and Distribution Customers: 146,000<br/>
        Population: 312,500 <br/>
        Area: 316 square miles</p>
        </div>
        <div class="rob-grid1-2 right">
        <p><strong>MGE Natural Gas Services</strong><br/>
        Purchase and Distribution Customers: 152,000<br/>
        Population: 434,600 <br/>
        Area: 1,682 square miles</p>
        </div>
        
        <img src="/images/mge-map.png" alt="MGE map" title="MGE map" class="rob-grid1-2 center" />
        
    </div><!--.wrapper-->
</section><!--#mainc-->

<!-- #INCLUDE virtual="includes/footer.htm" -->

</body>
<!-- #INCLUDE virtual="includes/bottom-js.htm" -->
</html>