<% @LANGUAGE="VBSCRIPT" CODEPAGE="65001" %>
<% OPTION EXPLICIT %>

<%
	<!--ENTER PAGE TITLE BETWEEN QUOTES BELOW-->
	Dim strTitle
    strTitle = "Governance"
%>

<title><%=strTitle%> - MGE Energy, Inc. - Madison, Wisconsin</title>
<meta name="Description" content="This is where you write the content description." />

<!-- #INCLUDE virtual="includes/head.htm" -->

<!-- #INCLUDE virtual="includes/global-functions.htm" -->

<body>
<!-- #INCLUDE virtual="includes/loader.htm" -->

<!-- #INCLUDE virtual="includes/header.htm" -->

<!-- #INCLUDE virtual="includes/alerts-all.htm" -->

<section id="mainc" class="clearfix">
	<div class="wrapper">
    
    	<h2><%=strTitle%></h2>
        
        <h3>Corporate Leadership</h3>
        
        <p>MGE Energy Board of Directors is committed to serving the interests of our shareholders, customers and employees. Board members, chosen from the community, provide oversight of performance, strategic planning, business initiatives, major capital projects and budget matters. Directors are elected to serve three-year terms.</p>
        
        <h4>Board of Directors</h4>
        
        <div class="rob-grid1">
        	<div class="left bio">
            	<img src="/images/bugher.jpg" alt="Mark D. Bugher" title="Mark D. Bugher" />
                <div class="rob-grid1 bio-info">
                	<h6>Mark D. Bugher</h6>
                    <p>Retired Director of University Research Park, University of Wisconsin-Madison</p>
                    <p>Age 67</p>
                    <p>MGEE Director since 2010</p>
                </div>
            </div>
            
            <div class="left bio">
            	<img src="/images/dewey.jpg" alt="Londa J. Dewey" title="Londa J. Dewey" />
                <div class="rob-grid1 bio-info">
                	<h6>Londa J. Dewey</h6>
                    <p>President of QTI Management Services, Inc., a human resources and staffing company</p>
                    <p>Age 55</p>
                    <p>MGEE Director since 2008</p>
                </div>
            </div>
            
            <div class="left bio">
            	<img src="/images/hastings.jpg" alt="F. Curtis Hastings" title="F. Curtis Hastings" />
                <div class="rob-grid1 bio-info">
                	<h6>F. Curtis Hastings</h6>
                    <p>Retired Chairman of J. H. Findorff & Son, Inc., commercial and industrial general contractors</p>
                    <p>Age 70</p>
                    <p>MGEE Director since 1999</p>
                </div>
            </div>
            
            <div class="left bio">
            	<img src="/images/millner.jpg" alt="Regina M. Millner" title="Regina M. Millner" />
                <div class="rob-grid1 bio-info">
                	<h6>Regina M. Millner</h6>
                    <p>Retired President of RMM Enterprises Inc. Attorney, analyst and broker</p>
                    <p>Age 71</p>
                    <p>MGEE Director since 1996</p>
                </div>
            </div>
        	<div class="left bio">
            	<img src="/images/nevin.jpg" alt="John R. Nevin" title="John R. Nevin" />
                <div class="rob-grid1 bio-info">
                	<h6>John R. Nevin</h6>
                    <p>Grainger Professor and Executive Director of Grainger Center for Supply Chain Management at the School of Business, UW-Madison</p> 
                    <p>Age 72</p>
                    <p>MGEE Director since 1998</p>
                </div>
            </div>
            
            <div class="left bio">
            	<img src="/images/possin.jpg" alt="James L. Possin" title="James L. Possin" />
                <div class="rob-grid1 bio-info">
                	<h6>James L. Possin</h6>
                    <p>Certified Public Accountant and tax consultant with James L. Possin CPA, LLC. Former partner at Grant Thornton LLP</p>
                    <p>Age 64</p>
                    <p>MGEE Director since 2009</p>
                </div>
            </div>
            
            <div class="left bio">
            	<img src="/images/stopler.jpg" alt="Thomas R. Stolper" title="Thomas R. Stolper" />
                <div class="rob-grid1 bio-info">
                	<h6>Thomas R. Stolper</h6>
                    <p>Executive Vice President and a Director of ProActive Solutions USA LLC, a cleaning and sanitizing products manufacturer</p>
                    <p>Age 67</p>
                    <p>MGEE Director since 2008</p>
                </div>
            </div>
            <div class="left bio">
            	<img src="/images/wolter.jpg" alt="Gary J. Wolter" title="Gary J. Wolter" />
                <div class="rob-grid1 bio-info">
                	<h6>Gary J. Wolter*</h6>
                    <p>Chairman, President and Chief Executive Officer</p>
                    <p>Age 61</p>
                    <p>Years of Service, 31</p>
                </div>
            </div>
        </div><!--.rob-grid1--bio container-->
        
        <h4>Officers</h4>
        
        <p>MGE officers oversee our operations and set strategic direction. </p>
        
        <div class="rob-grid1">
            <div class="left bio">
            	<img src="/images/wolter.jpg" alt="Gary J. Wolter" title="Gary J. Wolter" />
                <div class="rob-grid1 bio-info">
                	<h6>Gary J. Wolter*</h6>
                    <p>Chairman, President and Chief Executive Officer</p>
                    <p>Age 61</p>
                    <p>Years of Service, 31</p>
                </div>
            </div>
            <div class="left bio">
            	<img src="/images/fenrick.jpg" alt="Craig A. Fenrick" title="Craig A. Fenrick" />
                <div class="rob-grid1 bio-info">
                	<h6>Craig A. Fenrick</h6>
                    <p>Senior Vice President – Energy Operations</p>
                    <p>Age 56</p>
                    <p>Years of Service, 33</p>
                </div>
            </div> 
            <div class="left bio">
            	<img src="/images/hobbie.jpg" alt="Lynn K. Hobbie" title="Lynn K. Hobbie" />
                <div class="rob-grid1 bio-info">
                	<h6>Lynn K. Hobbie</h6>
                    <p>Senior Vice President – Marketing and Communications</p>
                    <p>Age 57</p>
                    <p>Years of Service, 30</p>
                </div>
            </div>
            <div class="left bio">
            	<img src="/images/keebler.jpg" alt="Jeffrey M. Keebler" title="Jeffrey M. Keebler" />
                <div class="rob-grid1 bio-info">
                	<h6>Jeffrey M. Keebler</h6>
                    <p>Senior Vice President – Energy Supply and Planning</p>
                    <p>Age 44</p>
                    <p>Years of Service, 20</p>
                </div>
            </div>
            <div class="left bio">
            	<img src="/images/newman.jpg" alt="Jeffrey C. Newman*" title="Jeffrey C. Newman*" />
                <div class="rob-grid1 bio-info">
                	<h6>Jeffrey C. Newman*</h6>
                    <p>Senior Vice President, Chief Financial Officer, Secretary and Treasurer</p>
                    <p>Age 53</p>
                    <p>Years of Service, 31</p>
                </div>
            </div>
            <div class="left bio">
            	<img src="/images/renlund.jpg" alt="Cari Anne Renlund" title="Cari Anne Renlund" />
                <div class="rob-grid1 bio-info">
                	<h6>Cari Anne Renlund</h6>
                    <p>Vice President and General Counsel</p>
                    <p>Age 42</p>
                    <p>Years of Service, 1</p>
                </div>
            </div>
            <div class="left bio">
            	<img src="/images/bollom.jpg" alt="Gregory A. Bollom" title="Gregory A. Bollom" />
                <div class="rob-grid1 bio-info">
                	<h6>Gregory A. Bollom</h6>
                    <p>Assistant Vice President – Energy Planning</p>
                    <p>Age 55</p>
                    <p>Years of Service, 33</p>
                </div>
            </div>
            <div class="left bio">
            	<img src="/images/bushek.jpg" alt="Jared J. Bushek" title="Jared J. Bushek" />
                <div class="rob-grid1 bio-info">
                	<h6>Jared J. Bushek</h6>
                    <p>Assistant Vice President and Chief Information Officer</p>
                    <p>Age 35</p>
                    <p>Years of Service, 5</p>
                </div>
            </div>
            <div class="left bio">
            	<img src="/images/johnson.jpg" alt="Tamara J. Johnson" title="Tamara J. Johnson" />
                <div class="rob-grid1 bio-info">
                	<h6>Tamara J. Johnson</h6>
                    <p>Assistant Vice President and Controller</p>
                    <p>Age 51</p>
                    <p>Years of Service, 22</p>
                </div>
            </div>
            <div class="left bio">
            	<img src="/images/peterson.jpg" alt="Donald D. Peterson" title="Donald D. Peterson" />
                <div class="rob-grid1 bio-info">
                	<h6>Donald D. Peterson</h6>
                    <p>Assistant Vice President – Strategic Products and Services</p>
                    <p>Age 56</p>
                    <p>Years of Service, 33</p>
                </div>
            </div>
            <div class="left bio">
            	<img src="/images/yogerst.jpg" alt="John M. Yogerst" title="John M. Yogerst" />
                <div class="rob-grid1 bio-info">
                	<h6>John M. Yogerst</h6>
                    <p>Assistant Vice President – Gas Operations</p>
                    <p>Age 58</p>
                    <p>Years of Service, 35</p>
                </div>
            </div>            
            </div><!--.rob-grid1-->
            
        <h4>Corporate Governance</h4>
        
        <p>We are dedicated to conducting all aspects of our business in an honest and fair manner. The below resources provide the guidelines and framework in which we do business.</p>
        
        <ul>
        	<li>Articles of Incorporation</li>
            <li>Audit Committee Charter</li>
            <li>Bylaws</li>
            <li>Code of Ethics</li>
            <li>Compensation Committee Charter</li>
            <li>Corporate Governance Committee Charter</li>
            <li>Corporate Governance Guidelines</li>
            <li>Proxy Statement</li>
        </ul>
        
        <h4>Lobbying Disclosures</h4>
       
        <p>Reports of our lobbying activities (MGE Energy and/or our regulated utility subsidiary Madison Gas and Electric) can be found at the <a href="#" target="_blank">Federal</a>, <a href="#" target="_blank">State</a> and <a href="#" target="_blank">Local</a> levels.</p>
        
    </div><!--.wrapper-->
</section><!--#mainc-->

<!-- #INCLUDE virtual="includes/footer.htm" -->

</body>
<!-- #INCLUDE virtual="includes/bottom-js.htm" -->
</html>