<% @LANGUAGE="VBSCRIPT" CODEPAGE="65001" %>
<% OPTION EXPLICIT %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<!-- #INCLUDE virtual="includes/head.htm" -->

<!-- #INCLUDE virtual="includes/global-functions.htm" -->

<body>
<!-- #INCLUDE virtual="includes/loader.htm" -->

<!-- #INCLUDE virtual="includes/header.htm" -->

<section id="hero" class="clearfix">
	<div class="rob-grid2-5 tagline"><blockquote>MGEE tagline</blockquote></div>
	<div id="shareholder" class="rob-grid1-5 btn"><a href="https://www.securitiesinterlink7.com/mge/SvltApplicationMain?arch=c&entity=mge" target="_blank">Shareholder Login</a></div>
	<div class="rob-grid1-5 current-stock">
		<script src="https://markets.financialcontent.com/madisongaselectric/widget:stockquote1?Output=JS"></script>
    </div>			
</section><!--#hero media container for large fullwidth images or videos-->

<!-- #INCLUDE virtual="includes/alerts-home.htm" -->

<section id="mainc" class="clearfix">
    <img src="images/graph-placeholder.png" class="rob-grid4-5 center"/>
      
 
</section><!--#mainc-->

<div class="news-top"><img src="css-images/border-top.gif" alt="news container top tear" class="rob-grid7-20 center"/></div>
<section id="news-block" class="clearfix">
	<div class="wrapper">
    
    <div class="news left">
    	<img src="images/news/birch.jpg" alt="dollar bill" class="rob-grid9-10 center"/>
        <div class="news-date">11.28<br/>2015</div>
        <div class="left news-info">
			<h4>Green Masters</h4>
        	<p>For the second consecutive year, MGE has attained the highest level of the Wisconsin Sustainable Business Council's Green Masters Program.</p>
			<a href="#" class="right read-more">read more</a>
        </div>
    </div><!--.news wrapper-->
    
    <div class="news left">
    	<img src="images/news/girl-sunlight.jpg" alt="dollar bill" class="rob-grid9-10 center"/>
        <div class="news-date">11.21<br/>2015</div>
        <div class="left news-info">
			<h4>Energy 2030: Builinding tomorrow's energy company</h4>
        	<p>Our main subsidiary, Madison Gas and Electric (MGE), has introduced a framework for its energy future.</p>
			<a href="#" class="right read-more">read more</a>
        </div>
    </div><!--.news wrapper-->
    
    <div class="news left">
    	<img src="images/news/money.jpg" alt="dollar bill" class="rob-grid9-10 center"/>
        <div class="news-date">10.13<br/>2015</div>
        <div class="left news-info">
			<h4>A Dividend Achiever</h4>
        	<p>For last 40 consecutive years, MGE Energy has increased its dividends. The dividends paid per share have grown from $0.36 in 1975 to $1.16 in 2015.</p>
			<a href="#" class="right read-more">read more</a>
        </div>
    </div><!--.news wrapper-->
    
    <div class="news left">
    	<img src="images/news/vw-van.jpg" alt="Guys in van" class="rob-grid9-10 center"/>
        <div class="news-date">09.25<br/>2015</div>
        <div class="left news-info">
			<h4>Charged Up at Work</h4>
        	<p>As electric vehicles become more common, employees want to plug in and charge their vehicles at work.</p>
			<a href="#" class="right read-more">read more</a>
        </div>
    </div><!--.news wrapper-->
    
	
    </div><!--.wrapper-->
</section><!--#subc-->
<div class="news-bottom"><img src="css-images/border-bottom.gif" alt="news container top tear" class="rob-grid7-20 center"/></div>

<section id="shareholder-news" class="clearfix">
	<div class="rob-grid1-2 left shareholder-box">
    	<div class="shareholder-info rob-grid4-5">
        	<h5>Latest Shareholder Newsletter</h5>
            <p>Over the last 40 years, MGE Energy has grown its assets due to prudent investments in our core utility business.</p>
            <a href="#" class="right read-more">read more</a>
        </div>
    	<img src="images/shareholder-news/ss-pencil.jpg" alt="person writing" class="rob-grid1" />
    </div>
	<div class="rob-grid1-2 right shareholder-box">
    	<div class="rob-grid4-5 shareholder-info">
        	<h5>Quarterly Financial Update</h5>
            <p>MGE recognized as the most reliable electric utility in the United States, based on national industry survey results.</p>
            <a href="#" class="right read-more">read more</a>
        </div>
    	<img src="images/shareholder-news/books.jpg" alt="person writing" class="rob-grid1" />
    </div>
</section><!--#shareholder-news-->


<!-- #INCLUDE virtual="includes/footer.htm" -->

</body>
<!-- #INCLUDE virtual="includes/bottom-js.htm" -->
</html>