<% @LANGUAGE="VBSCRIPT" CODEPAGE="65001" %>
<% OPTION EXPLICIT %>

<%
	<!--ENTER PAGE TITLE BETWEEN QUOTES BELOW-->
	Dim strTitle, strDescription
    strTitle = "Purchase Stock"
    strDescription = "This is the description."
%>

<!-- #INCLUDE virtual="includes/head.htm" -->

<!-- #INCLUDE virtual="includes/global-functions.htm" -->

<body>
<!-- #INCLUDE virtual="includes/loader.htm" -->

<!-- #INCLUDE virtual="includes/header.htm" -->

<!-- #INCLUDE virtual="includes/alerts-all.htm" -->

<section id="mainc" class="clearfix">
	<div class="wrapper">
    
    	<h2><%=strTitle%></h2>
        
        <p>MGE Energy offers an easy and convenient way to purchase stock and reinvest dividends. Participants in the plan have the option of purchasing or selling shares and may deposit share certificates for safekeeping.</p>
        
        <h4>Direct Stock Purchase and Dividend Reinvestment Plan</h4>
        
        <p>The plan allows participants to:</p>
        
        <ul>
        	<li>Purchase shares directly through the company with minimal or no brokerage fees.</li>
			<li>Reinvest dividends.</li>
			<li>Deposit MGE Energy certificates for safekeeping.</li>
			<li>Make regular additional investments via electronic funds transfer.</li>
        </ul>
        
        <h4>Participation Requirements</h4>
        
        <ul>
        	<li>Any registered shareholder may participate.</li>
			<li>Non-shareholders may join the plan with a minimum $250 first-time investment.</li>
			<li>Custodial accounts for minors may be opened with $50.</li>
			<li>The $250 minimum is waived if you sign up for automatic monthly deductions of at least $25 for 12 months.</li>
			<li>Reinvestment of plan shares is required.</li>
        </ul>
        
        <h4>Broker Commissions and Fees</h4>
        
        <p>There are no administrative fees to purchase shares. Brokerage fees are nominal. When you sell shares through the plan, an administrative fee of $15 plus brokerage fees will be charged. Please see the plan prospectus for more information regarding the purchase and sale of shares under the plan.</p>
              
        <h4>Purchase Stock</h4>
        
        <img src="images/money.jpg" class="rob-grid2-5 right" alt="purchase stock" title="purchase stock"/>
        
        <p>If you are interested in purchasing stock, please read the prospectus related to the plan. The prospectus describes the plan in greater detail including its advantages and disadvantages. You may view and download a copy of the prospectus and enrollment form or request a printed copy.</p>
        
        <ul>
        	<li><a href="documents/forms/20160420-prospectus.pdf">Prospectus</a></li>
            <li><a href="documents/forms/20160420-enrollment-form.pdf">Enrollment Form</a></li>
            <li><a href="documents/forms/20160420-stock-purchase-instructions.pdf">Request a Printed Copy</a></li>
        </ul>
        
        <p class="font-small"><em>NOTE: This communication is not an offer to sell or a solicitation of an offer to buy any security. An offer to sell common stock can only be made through the prospectus for the Direct Stock Purchase and Dividend Reinvestment Plan. Please read the prospectus before making a decision to enroll in the plan. You can view the prospectus by clicking above or by contacting us at MGE Energy Shareholder Services, PO Box 1231, Madison WI 53701-1231.</em></p>
        
    </div><!--.wrapper-->
</section><!--#mainc-->

<!-- #INCLUDE virtual="includes/footer.htm" -->

</body>
<!-- #INCLUDE virtual="includes/bottom-js.htm" -->
</html>