<% @LANGUAGE="VBSCRIPT" CODEPAGE="65001" %>
<% OPTION EXPLICIT %>

<%
	<!--ENTER PAGE TITLE BETWEEN QUOTES BELOW-->
	Dim strTitle, strDescription
    strTitle = "Resources"
    strDescription = "This is the description."
%>

<!-- #INCLUDE virtual="includes/head.htm" -->

<!-- #INCLUDE virtual="includes/global-functions.htm" -->

<body>
<!-- #INCLUDE virtual="includes/loader.htm" -->

<!-- #INCLUDE virtual="includes/header.htm" -->

<!-- #INCLUDE virtual="includes/alerts-all.htm" -->

<section id="mainc" class="clearfix">
    <div class="wrapper">
    
    <h2><%=strTitle%></h2>
    
	<p>For your convenience, we have provided printable versions of commonly requested forms. You may print them, fill them out completely and send or bring them to us. For your safety, we require your signature on all forms.</p>

    <h4>Stock Purchase Resources</h4>
    
    <ul>
    	<li><a href="documents/forms/20160420-prospectus.pdf">Prospectus</a> – This document provides you with a description of the MGE Energy Direct Stock Purchase and Dividend Reinvestment Plan</li>
        <li><a href="documents/forms/20160420-enrollment-form.pdf">Enrollment form</a> - Use this form to enroll as a new shareholder of MGE Energy.</li>
        <li><a href="documents/forms/20160420-dividend-reinvestment.pdf">Dividend Reinvestment form</a> - Use to this form to change your participation in the MGE Energy Shareholder Plan.</li>
    </ul>
    
    <h4>Shareholder Resources</h4>
    
    <ul>
    	<li><a href="documents/forms/20160420-dividend-deposit-auth.pdf">Dividend Deposit Authorization</a> - Use this form to authorize MGE Energy to deposit your dividend payments directly into your checking or savings account.</li>
        <li><a href="documents/forms/20160420-cash-payment-coupon.pdf">Duplicate Cash Payment Coupon</a> - Use this form to make additional payments for stock purchase.</li>
        <li><a href="documents/forms/20160420-w9.pdf">Federal IRS W-9 Form</a> - Use this form to change or certify your social security or taxpayer identification number. This form is required when completing a Stock Transfer Form.</li>
        <li><a href="documents/forms/20160420-stock-purchase-automatic-monthly-deduction.pdf">Monthly Stock Purchase Deduction Authorization</a> - Use this form to authorize MGE Energy to deduct a specific dollar amount each month from your checking or savings account to purchase additional MGE Energy shares.  Cash drafts are initiated on the first Wednesday of every month, and can be discontinued at any time.  We also offer a one-time deduction option.</li>
        <li><a href="documents/forms/20160420-stock-transfer.pdf">Stock Transfer Form and Instructions</a> - Follow the instructions and use the form to change stock ownership legal registration, including legal name changes. If shares are being transferred from a deceased owner, an <a href="documents/forms/20160420-affidavit-domicile.pdf" target="_blank">affidavit of domicile</a> is also required.</li>
    </ul>
    
    </div><!--.wrapper-->
</section><!--#mainc-->

<!-- #INCLUDE virtual="includes/footer.htm" -->

</body>
<!-- #INCLUDE virtual="includes/bottom-js.htm" -->
</html>