<% @LANGUAGE="VBSCRIPT" CODEPAGE="65001" %>
<% OPTION EXPLICIT %>

<%
	<!--ENTER PAGE TITLE BETWEEN QUOTES BELOW-->
	Dim strTitle, strDescription
    strTitle = "Shareholder Services"
    strDescription = "This is the description."
%>

<!-- #INCLUDE virtual="includes/head.htm" -->

<!-- #INCLUDE virtual="includes/global-functions.htm" -->

<body>
<!-- #INCLUDE virtual="includes/loader.htm" -->

<!-- #INCLUDE virtual="includes/header.htm" -->

<!-- #INCLUDE virtual="includes/alerts-all.htm" -->

<section id="mainc" class="clearfix">
	<div class="wrapper">
    
    	<h2><%=strTitle%></h2>
        
        <p>MGE Energy Shareholder Services provides assistance to our shareholders by listening to suggestions, anticipating needs and developing innovative products and services.</p>
        
        <p>MGE Energy Shareholder Services is MGE Energy's co-transfer agent, dividend paying agent, direct stock purchaser and dividend reinvestment plan administrator. We are ready to assist you with your registered* stockholder account.</p>
        
        <h3>Our Available Services</h3>
        
        <p><strong>Record keeping</strong> - We maintain the records for all registered* holders, which includes records of ownership, dividends, reinvestment and direct stock purchases.</p>
        
        <p><strong>Stock transfer</strong> - We will process your requests for legal registration changes, gift transfers, transfers of ownership and will provide forms, instructions and assistance to you in making these types of changes.</p>
        
        <p><strong>Certificate safekeeping</strong> - You may deposit any MGE Energy common stock certificate into your account as book entry shares for safekeeping.</p>
        
        <p><strong>Direct stock purchase</strong> - Shareholders and others may purchase MGE Energy common stock through the company's Direct Stock Purchase and Dividend Reinvestment Plan. Please see <a href="documents/forms/20160420-prospectus.pdf" target="_blank">prospectus</a> for more information.</p>
        
        <p><strong>Share sales</strong> – Per your directive, we will sell shares that are held in your Direct Stock Purchase and Dividend Reinvestment Plan account.</p>
        
        <p><strong>Dividend payments</strong> – Shareholders can request payments via check or direct deposit.</p>
        
        <p><strong>Dividend reinvestment</strong> - Shareholders may reinvest their dividends in additional MGE Energy common stock through the company's Direct Stock Purchase and Dividend Reinvestment Plan.</p>
        
        <p class="font-small"><em>*Records for unregistered shares (those held in a brokerage account) are maintained by your brokerage firm.</em></p>
        
        <h4>Direct Registration</h4>
        
        <p>MGE Energy offers its shareholders a safe, convenient way to hold MGE Energy shares through the Direct Registration System (DRS).</p>
        
        <p>This electronic system gives shareholders full ownership of MGE Energy stock without the responsibility of maintaining physical stock certificates. Through this service, your shares can be held in your name and tracked electronically on MGE Energy's records. Your traditional voting and other rights and benefits as a shareholder remain the same.</p>
        
        <p><strong>Benefits of DRS</strong></p>
        
        <ul>
        	<li>Book entry shares cannot be lost, destroyed or misplaced.</li>
            <li>DRS reduces the risk associated with physical securities processing including transfer turnaround delays, mail losses and stolen or forged certificates.</li>
            <li>Shares can be easily moved to and from a brokerage account electronically.</li>
        </ul>
        
        <h4>Transfer Agent</h4>
        
        <p>MGE Energy is a Co-Transfer Agent with Continental Stock Transfer of New York.</p>
        
        <p>For inquiries, contact:</p>
        
        <div class="rob-grid1-2 left padding">
        <p><strong>MGE Energy</strong><br/>
        Shareholder Services Department<br/>
        P.O. Box 1231<br/>
        Madison, WI 53701<br/>
        Phone: <a href="tel:+6082524744" title="Call Shareholder Services">(608) 252.4744</a> or <a href="tel:+18003566423" title="Call Shareholder Services">1 (800) 356.6423</a></p>
        </div>
        
        <div class="rob-grid1-2 left padding">
        <p><strong>Continental Stock Transfer &amp; Trust Co.</strong><br/>
        17 Battery Place, 8th floor<br/>
        New York, NY 10004<br/>
        Phone: <a href="tel:+2125094000" title="Call Continental Stock Transfer and Trust Co.">(212) 509.4000</a><br/>
        Fax: (212) 509.5150</p>
        </div>
        
        <p>For information on how to electronically move your shares, please contact your broker.</p>
        
        <h4>Contact Us</h4>
        
        <p>Contact MGE Energy's Shareholder Services Department to:</p>
        
        <ul>
            <li>Get information about your MGE Energy stock or dividends.</li>
            <li>Request MGE Energy financial information.</li>
            <li>Request an MGE Energy Proxy statement.</li>
            <li>Discuss other shareholder concerns.</li>
        </ul>

        
    </div><!--.wrapper-->
</section><!--#mainc-->

<!-- #INCLUDE virtual="includes/footer.htm" -->

</body>
<!-- #INCLUDE virtual="includes/bottom-js.htm" -->
</html>