<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="html to asp (MGE)" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" preCondition="bitness32" />
            <add name="htm to asp (MGE)" path="*.htm" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" preCondition="bitness32" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="index.htm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
      		<rule name="Add www" patternSyntax="Wildcard" stopProcessing="true">
        		<match url="^mgeenergy.com" negate="true" />
        		<conditions>
                        <add input="{HTTP_HOST}" pattern="dev.mgeenergy.com" negate="true" />
                        <add input="{HTTP_HOST}" pattern="dev2.mgeenergy.com" negate="true" />
                        <add input="{HTTP_HOST}" pattern="dev3.mgeenergy.com" negate="true" />
                        <add input="{HTTP_HOST}" pattern="tst.mgeenergy.com" negate="true" />
                        <add input="{HTTP_HOST}" pattern="tst2.mgeenergy.com" negate="true" />
                        <add input="{HTTP_HOST}" pattern="tst3.mgeenergy.com" negate="true" />
                        <add input="{HTTP_HOST}" pattern="t01.mgeenergy.com" negate="true" />
                        <add input="{HTTP_HOST}" pattern="t02.mgeenergy.com" negate="true" />
                        <add input="{HTTP_HOST}" pattern="p01.mgeenergy.com" negate="true" />
                        <add input="{HTTP_HOST}" pattern="p02.mgeenergy.com" negate="true" />
                        <add input="{HTTP_HOST}" pattern="www.mgeenergy.com" negate="true" />
        		</conditions>
        		<action type="Redirect" url="https://www.mgeenergy.com/" appendQueryString="false" redirectType="Permanent" />
      		</rule>
				<rule name="HTTP Redirect to HTTPS" enabled="true" stopProcessing="true">
					<match url="(.*)" ignoreCase="false" />
					<conditions>
						 <add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
				</rule>				
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
